*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #313133;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}